*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: #457b9d;
}

.wrapper
{
    position: relative;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo
{
    color: #ffffff;
    text-decoration: none;
    font-size: 24;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

header .toggle
{
    position: relative;
    height: 36px;
    width: 28px;
    background: url(./img/icon.png);
    background-size: cover;
    cursor: pointer;

}

.banner
{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-img
{
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    z-index: -1;
    opacity: 0.75;
}

.banner .content
{
    position: relative;
    max-width: 750px;
    text-align: center;
    justify-content: flex-end;
    z-index: 100;
}

.banner .content h2
{
    font-size: 60px;
    color: #ffffff;
}

.banner .content p
{
    font-size: 18;
    color: #ffffff;
}
/* Color pallet from coolers.co
[{"name":"Imperial Red","hex":"e63946","rgb":[230,57,70],"cmyk":[0,75,70,10],"hsb":[355,75,90],"hsl":[355,78,56],"lab":[52,66,34]},
{"name":"Honeydew","hex":"f1faee","rgb":[241,250,238],"cmyk":[4,0,5,2],"hsb":[105,5,98],"hsl":[105,55,96],"lab":[97,-5,5]},
{"name":"Powder Blue","hex":"a8dadc","rgb":[168,218,220],"cmyk":[24,1,0,14],"hsb":[182,24,86],"hsl":[182,43,76],"lab":[84,-16,-6]},
{"name":"Celadon Blue","hex":"457b9d","rgb":[69,123,157],"cmyk":[56,22,0,38],"hsb":[203,56,62],"hsl":[203,39,44],"lab":[49,-8,-24]},
{"name":"Prussian Blue","hex":"1d3557","rgb":[29,53,87],"cmyk":[67,39,0,66],"hsb":[215,67,34],"hsl":[215,50,23],"lab":[22,3,-23]}] */